.item-modal-wrapper {
  border: 3px solid rgba(249, 25, 25, 0.94);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 53px 39px;
  max-width: 1338px;
}

.item-modal {
  &__title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 50px;
      margin-bottom: 0;
      font-weight: 700;
    }

    span {
      margin-left: 100px;
      font-size: 30px;
    }
  }

  &__content {
    margin-top: 71px;
    display: flex;
    justify-content: space-around;

    & > * {
      padding: 30px 20px;
    }

    &__images {
      display: flex;
      flex-direction: column;

      img {
        width: 170px;
        margin-top: 15px;
      }
    }

    &__current_image {
      img {
        width: 485px;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__price {
        font-size: 40px;
        font-weight: bold;
      }

      &__text {
        font-size: 30px;
        line-height: 35px;
        display: flex;
        font-weight: normal;
        flex-direction: column;

        & > * {
          margin-top: 5px;
        }
      }

      & > * {
        margin-bottom: 15px;
      }

      button {
        background: #E70F0F;
        border-radius: 10px;
        color: white;
        height: 76px;
        font-size: 30px;
        margin-top: 67px;
      }
    }
  }

  &__description {
    h3 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 45px;
    }

    article {
      font-size: 40px;
      line-height: 47px;
    }
  }
}
