<div class="item-modal-wrapper">
  <div class="item-modal__title">
    <h2>{{ data.name }}</h2>
    <span>({{ data.amount }})</span>
  </div>
  <div class="item-modal__content">
    <div class="item-modal__content__images">
      <img src="assets/part1.png">
      <img src="assets/part2.png">
    </div>
    <div class="item-modal__content__current_image">
      <img src="assets/part.png">
    </div>
    <div class="item-modal__content__details">
      <div class="item-modal__content__details__price">{{ data.price }}</div>
      <div class="item-modal__content__details__text">
        <span>Марка: {{ data.carMark }}</span>
        <span>Модель: {{ data.carModel }}</span>
      </div>

      <button mat-button>Добавить в корзину</button>
    </div>
  </div>
  <div class="item-modal__description">
    <h3>Описание</h3>

    <article>
      {{ data.description }}
    </article>
  </div>
</div>
