<div class="item-modal-wrapper">
  <div class="item-modal__title">
    <h2>Подвеска</h2>
    <span>(300)</span>
  </div>
  <div class="item-modal__content">
    <div class="item-modal__content__images">
      <img src="assets/part1.png">
      <img src="assets/part2.png">
    </div>
    <div class="item-modal__content__current_image">
      <img src="assets/part.png">
    </div>
    <div class="item-modal__content__details">
      <div class="item-modal__content__details__price">500р</div>
      <div class="item-modal__content__details__text">
        <span>Марка: Audi</span>
        <span>Модель: A6</span>
        <span>Цвет: серый</span>
      </div>

      <button mat-button>Добавить в корзину</button>
    </div>
  </div>
  <div class="item-modal__description">
    <h3>Описание</h3>

    <article>
      Подвеска автомобиля, или система подрессоривания, — совокупность деталей, узлов и механизмов, играющих роль соединительного звена между кузовом автомобиля и дорогой
    </article>
  </div>
</div>
