<gear-by-card-form-wrapper [formGroup]="itemForm" (submitForm)="submit()">
  <ng-container form-content>
    <mat-form-field>
      <mat-label>Наименование</mat-label>
      <input matInput formControlName="name" name="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Описание</mat-label>
      <textarea matInput formControlName="description" name="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Марка машины</mat-label>
      <input matInput formControlName="carMark" name="carMark">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Модель машины</mat-label>
      <input matInput formControlName="carModel" name="carModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Количество</mat-label>
      <input type="number" matInput formControlName="amount" name="amount">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Цена</mat-label>
      <input type="number" matInput formControlName="price" name="price">
    </mat-form-field>
    <button type="submit" mat-raised-button>
      <span>Добавить</span>
    </button>
  </ng-container>
  <ng-container form-actions>

  </ng-container>
</gear-by-card-form-wrapper>
