<header>
  <mat-toolbar>
    <div class="brand">
      <a class="brand__logo" routerLink="/">
        <img src="assets/logo.svg" />
      </a>
      <a class="brand__name" routerLink="/">
        Gear
      </a>
    </div>

    <form class="search-form">
      <mat-form-field>
        <mat-label>Поиск</mat-label>
        <input matInput [matAutocomplete]="auto" [formControl]="searchForm">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of (filteredOptions$ | async)" [value]="option.name">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </form>

    <div class="controls">
      <a mat-icon-button routerLink="auth/sign-in">
        <mat-icon>person</mat-icon>
      </a>
      <a mat-icon-button routerLink="catalog/cart">
        <mat-icon [matBadge]="cartCount$ | async">shopping_cart</mat-icon>
      </a>
      <mat-select class="select-lang" [(value)]="currentLang" [disableOptionCentering]="true" panelClass="lang-select">
        <mat-select-trigger>
          <img class="lang-flag" [src]="'assets/' + currentLang + '.svg'">
          <span>{{ currentLang }}</span>
        </mat-select-trigger>
        <mat-option value="ru">
          <img class="lang-flag" src="assets/ru.svg">
          <span>Ru</span>
        </mat-option>
        <mat-option value="en">
          <img class="lang-flag" src="assets/en.svg">
          <span>En</span>
        </mat-option>
      </mat-select>
    </div>
  </mat-toolbar>
</header>
