mat-toolbar {
  height: 70px;
  justify-content: space-between;
  background: linear-gradient(90deg, #191717 0%, #131010 22.92%, #FA4A4A 67.19%, #F43C3C 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .brand {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 28px;

    &__logo {
      img {
        width: 40px;
      }
    }

    &__name {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 70px;
      margin-left: 46px;
      text-decoration: none;
      color: #F92A2A;
    }
  }

  .search-form {
    width: 1076px;

    mat-form-field {
      ::ng-deep {
        .mat-form-field-flex {
          padding-left: 16px;
        }

        .mat-form-field-underline {
          display: none;
        }
      }
    }
  }

  .controls {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin-right: 26px;

      mat-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 35px
      };
    }

    .select-lang {
      width: 95px;
      height: 35px;
      border: 3px solid #000000;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 0 10px;
    }
  }
}

::ng-deep {
  .lang-select {
    background: unset;
    border: 3px solid #000000;
    margin-top: 50px;

    mat-option {
      line-height: 2em !important;
      height: 2em !important;
      box-sizing: border-box !important;
    }
  }

  .lang-flag {
    margin-right: 10px;
    width: 18px;
  }
}
