<gear-by-card-form-wrapper [formGroup]="loginForm" (submitForm)="login()">
  <ng-container form-content>
    <mat-form-field>
      <mat-label>Электронная почта</mat-label>
      <input matInput formControlName="email" name="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input type="password" matInput formControlName="password" name="password">
    </mat-form-field>
    <button type="submit" mat-raised-button>
      <span>Войти</span>
    </button>
  </ng-container>

  <ng-container form-actions>
    <a mat-button routerLink="/auth/sign-up">Зарегистрироваться</a>
    <a mat-button routerLink="/auth/forgot-password">Забыли пароль?</a>
  </ng-container>
</gear-by-card-form-wrapper>
