<gear-by-landing-banner (goToCatalog)="scrollToGoods()"></gear-by-landing-banner>

<section class="goods-list" id="goods">
  <mat-toolbar class="filter-toolbar">
    <button mat-icon-button (click)="filter.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>
  <mat-drawer-container>
    <mat-drawer #filter [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
      <div class="filter-title">
        <mat-icon>filter_list</mat-icon>
        <h2>
          Фильтр
        </h2>
      </div>
      <mat-expansion-panel *ngFor="let category of categories">
        <mat-expansion-panel-header class="filter-header">
          <mat-panel-title>
            {{ category.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="filter-content">
          <button class="filter-content__item" mat-button *ngFor="let item of category.facets">
            <span class="filter-content__item__name">
              <span>{{ item }}</span>
              <mat-icon>arrow_right</mat-icon>
            </span>
          </button>
        </div>
      </mat-expansion-panel>

      <mat-card class="filter-header">Цена</mat-card>

      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="50"
        step="100"
        max="100000"
        aria-label="units">
      </mat-slider>
    </mat-drawer>
    <mat-drawer-content>
      <div class="goods-list__header">
        <h2>Наш товар</h2>
        <div class="goods-list__header__sort">
          <span class="goods-list__header__sort__title">Сортировка по:</span>
          <button mat-button>Популярности</button>
          <button mat-button>Цене</button>
        </div>
      </div>
      <div class="goods-list__results">
        <gear-by-part-item *ngFor="let item of items" [item]="item" (openModal)="openItemModal(item)"></gear-by-part-item>
      </div>
      <div class="goods-list__actions">
        <a mat-button *ngIf="(user$ | async) | hasAdminPermission" routerLink="add">
          Добавить товар
        </a>
      </div>
      <button mat-fab (click)="scrollToGoods()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
