footer {
  background-color: #191717;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-top: 100px;
  text-align: center;
}

.common__list {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.heading_list {
  font-size: 35px;
  font-weight: bold;
  color: #F92A2A;
}

.inner__list {
  padding-top: 65px;
  padding-left: 0;
}

.text__list {
  font-size: 30px;
  font-weight: 400;
  color: #F92A2A;
}

.second__child__list {
  margin-top: 50px;
}

.contact__info {
  display: flex;
}

.social__icons {
  padding-right: 41px;
}

.ulSocial {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 100px;
}

.ulSocial li {
  padding-left: 10px;
}

.ulSocial li:first-child {
  padding-left: 0px;
}

.copyright {
  padding: 100px 0px 53px 0px;
  font-size: 30px;
  font-weight: 400;
  color: #F92A2A;
}
