<footer>
  <div class="container">
    <div class="common__list">
      <ul>
        <li class="heading_list">
          О магазине
          <ul class="inner__list">
            <a href="#">
              <li class="text__list">О компании</li>
            </a>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="heading_list">
          Покупателям
          <ul class="inner__list">
            <a href="#">
              <li class="text__list">Способ доставки</li>
            </a>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="heading_list">
          Профиль
          <ul class="inner__list">
            <a routerLink="/auth/sign-in">
              <li class="text__list">Вход</li>
            </a>
            <a routerLink="/auth/sign-up">
              <li class="text__list second__child__list">Регистрация</li>
            </a>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="heading_list">
          Контакты
          <ul class="inner__list">
            <a href="tel:+375173658833">
              <li class="contact__info">
                <img
                  width="40"
                  class="social__icons"
                  src="assets/phone.svg"
                  alt="phone ico"
                />
                <p class="text__list">+375173658833</p>
              </li>
            </a>
            <a href="mailto:gear@gmail.com">
              <li class="contact__info second__child__list">
                <img
                  width="40"
                  class="social__icons"
                  src="assets/mail.svg"
                  alt="email ico"
                />
                <p class="text__list">gear@gmail.com</p>
              </li>
            </a>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="ulSocial">
      <li *ngFor="let link of socialLinks">
        <a [attr.href]="link.href" target="_blank"
          ><img
            width="50"
            height="50"
            [src]="'assets/' + link.name + '.svg'"
            [attr.alt]="link.name"
            class="imgIcons"
        /></a>
      </li>
    </ul>
    <p class="copyright">© Авторские права. 2021 SMDev.Gear.Все права защищены</p>
  </div>
</footer>
