<section>
  <h1>Способ доставки</h1>

  <div>Мы доставим вашу покупку в любую точку Беларуси</div>

  <article>
    <div>
      <h2>Доставка курьером</h2>
      <div>
        Цена:<br>
        общая стоимость товаров 150,00 р. и более — бесплатно,<br>
        менее 100,00 р. — 5,00 р.,<br>
        менее 80,00 р. — 6,00 р.,<br>
        менее 40,00 р. — 7,00 р.<br>
        Цена доставки не зависит от количества товаров в корзине.<br>
        Подъём на этаж — бесплатно.
      </div>
    </div>
    <div>
      <img src="assets/map.png">
    </div>
  </article>
</section>
