<section>
  <form [formGroup]="cartForm" (submit)="cartForm.valid && submitOrder()">
    <mat-drawer-container>
      <mat-drawer-content>
        <h2>Корзина</h2>

        <ng-container *ngIf="cartItems$ | async as cartItems">
          <gear-by-cart-item
            formArrayName="orderPositions"
            *ngFor="let group of $any(cartForm.get('orderPositions')).controls; let i = index"
            [item]="cartItems[i]"
            [formGroup]="group"
            (removeFromCart)="removeFromCart(cartItems[i])"
          >

          </gear-by-cart-item>
        </ng-container>
      </mat-drawer-content>
      <mat-drawer position="end" mode="side" opened>
        <mat-card class="cart-total">
          <div class="cart-total__title">
            <h3>Итого</h3>
            <span>{{ totalPrice }}р</span>
          </div>
          <div class="cart-total__amount">
            <span>Товары: {{ totalAmount }}шт</span>
          </div>
          <div class="cart-total__order-form">
            <mat-form-field appearance="fill">
              <mat-label>Дата</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="deliveryDate" name="deliveryDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Имя</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Адрес</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Телефон</mat-label>
              <input matInput>
            </mat-form-field>

            <button mat-button type="submit">Оформить заказ</button>
          </div>
        </mat-card>
      </mat-drawer>
    </mat-drawer-container>
</form>
</section>
